@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-green: #00a497;
  --color-blue: #00a3af;
  --color-heading: #302833;
  --color-body: #2b2b2b;
  --color-light: #e7e7eb;
  --color-pinkLight: #fdeff2;
  --color-yellowLight: #f4dda5;
  --color-purpleLight: #dbd0e6;
  --color-redLight: #e597b2;
}
